# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2021 Felipe Kinoshita <kinofhek@gmail.com>
# SPDX-FileCopyrightText: 2022 Nate Graham <nate@kde.org>
[Desktop Entry]
Categories=Qt;KDE;Documentation;
Comment=Learn more about KDE Plasma
Comment[ar]=تعلم المزيد عن بلازما كيدي
Comment[az]=KDE Plasma haqqında daha çox öyrən
Comment[bg]=Научете повече за KDE Plasma
Comment[ca]=Apreneu-ne més pel que fa al Plasma de KDE
Comment[ca@valencia]=Apreneu-ne més pel que fa a Plasma de KDE
Comment[cs]=Poznejte možnosti prostředí KDE Plasma
Comment[da]=Lær mere om KDE Plasma
Comment[de]=Mehr über KDE Plasma erfahren
Comment[en_GB]=Learn more about KDE Plasma
Comment[eo]=Ekscii pli pri KDE Plasma
Comment[es]=Descubra más sobre KDE Plasma
Comment[eu]=KDE Plasmari buruzko informazio gehiago
Comment[fi]=Lue lisää KDE Plasmasta
Comment[fr]=En apprendre plus sur KDE Plasma
Comment[gl]=Aprender máis de KDE Plasma.
Comment[he]=מידע נוסף על KDE פלזמה
Comment[hi]=केडीई प्लाज़्मा के बारे में अधिक जानें
Comment[hu]=Tudjon meg többet a KDE Plasmáról
Comment[ia]=Apprende plus re KDE Plasma
Comment[id]=Pelajari lebih lanjut tentang KDE Plasma
Comment[is]=Læra meira um KDE Plasma
Comment[it]=Scopri di più su KDE Plasma
Comment[ka]=გაიგეთ მეტი KDE Plasma-ის შესახებ
Comment[ko]=KDE Plasma 더 알아보기
Comment[lt]=Sužinokite daugiau apie KDE Plasma
Comment[lv]=Uzziniet vairāk par KDE „Plasma“
Comment[nb]=Lær mer om KDE Plasma
Comment[nl]=Kom meer te weten over KDE Plasma
Comment[nn]=Lær meir om KDE Plasma
Comment[pa]=KDE ਪਲਾਜ਼ਮਾ ਬਾਰੇ ਹੋਰ ਜਾਣੋ
Comment[pl]=Dowiedz się o Plazmie KDE
Comment[pt_BR]=Aprenda mais sobre o KDE Plasma
Comment[ro]=Aflați mai multe despre KDE Plasma
Comment[ru]=Узнать больше о KDE Plasma
Comment[sa]=KDE Plasma विषये अधिकं ज्ञातुं शक्नुवन्ति
Comment[sl]=Poučite se več o KDE Plasmi
Comment[ta]=கே.டீ.யீ. பிளாஸ்மாவைப் பற்றி மேலும் அறிய உதவும்
Comment[tr]=KDE Plasma hakkında daha fazla bilgi alın
Comment[uk]=Дізнайтеся більше про Плазму KDE
Comment[zh_CN]=了解 KDE Plasma 的更多信息
Comment[zh_TW]=瞭解更多關於 KDE Plasma 的資訊
Exec=plasma-welcome
GenericName=Welcome Center
GenericName[ar]=مركز الترحيب
GenericName[az]=Salamlama mərkəzi
GenericName[bg]=Център за приветстване
GenericName[ca]=Centre de benvinguda
GenericName[ca@valencia]=Centre de benvinguda
GenericName[cs]=Uvítací centrum
GenericName[da]=Velkomstcenter
GenericName[de]=Begrüßungsassistent
GenericName[es]=Centro de bienvenida
GenericName[eu]=Ongietorri gunea
GenericName[fi]=Tervetulokeskus
GenericName[fr]=Centre d'accueil
GenericName[gl]=Centro de benvida
GenericName[he]=מרכז קבלת הפנים
GenericName[hu]=Üdvözlőközpont
GenericName[ia]=Centro de Benvenite
GenericName[is]=Kynningarmiðstöð
GenericName[it]=Centro di benvenuto
GenericName[ka]=მისალმების ცენტრი
GenericName[ko]=환영 센터
GenericName[lt]=Supažindinimas su sistema
GenericName[lv]=Uzņemšanas centrs
GenericName[nb]=Velkomstsenter
GenericName[nl]=Welkomstcentrum
GenericName[nn]=Velkomst­senter
GenericName[pa]=ਜੀ ਆਇਆਂ ਨੂੰ ਕੇਂਦਰ
GenericName[pl]=Powitalnia
GenericName[pt_BR]=Centro de boas-vindas
GenericName[ro]=Centru de întâmpinare
GenericName[ru]=Помощник первого запуска
GenericName[sl]=Središče za dobrodošlico
GenericName[tr]=Karşılama Merkezi
GenericName[uk]=Вітальний центр
GenericName[zh_CN]=欢迎中心
GenericName[zh_TW]=歡迎中心
Icon=start-here-kde-plasma
Keywords=Welcome;Wizard;Onboarding;Contribute;Get involved;
Keywords[ar]=معالج;مرحبا;ساهم;شارك;
Keywords[az]=Welcome;Wizard;Onboarding;Contribute;Get involved;Salamlama;Xoş Gəldiniz;İlk başlatma;İştirak etmək;Töhvə vermək;
Keywords[be]=Вітанне;Памагаты;Убудаваны;Унёсак;Далучыцца;
Keywords[bg]=Приветствен център;помощник;принос;добре дошли;
Keywords[ca]=Benvinguda;Assistent;Incorporació;Col·laboració;Involucrar-se;
Keywords[ca@valencia]=Benvinguda;Assistent;Incorporació;Col·laboració;Involucrar-se;
Keywords[da]=Velkommen;Guide;Onboarding;Bidrag;Bliv involveret;
Keywords[de]=Willkommen;Assistent;Begrüßungsassistent;Einführung;Einarbeitung;Mitmachen;
Keywords[en_GB]=Welcome;Wizard;Onboarding;Contribute;Get involved;
Keywords[eo]=Bonveno;Sorĉisto;Enŝipiĝo;Kontribui;Envolviĝi;
Keywords[es]=Bienvenida;Asistente;Incorporación;Colaborar;Implicarse;
Keywords[eu]=ongietorri;morroia;harrera-egitea;laguntza eman;engaiatu;
Keywords[fi]=Tervetuloa;opastettu toiminta;opas;velho;aloitus;avusta;avustus;osallistu;osallistuminen;
Keywords[fr]=Bienvenu;Assistant;Intégré;Contribuer;S'investir;
Keywords[gl]=benvida;asistente;incorporación;contribuír;colaborar;involucrarse;
Keywords[he]=ברוך בואך;ברוכים הבאים;קבלת פנים;ברוכות הבאות;תרומה;התנדבות;לקחת חלק;להשתתף;להצטרף;
Keywords[hi]=स्वागत है;विज़ार्ड;ऑनबोर्डिंग;योगदान करें;शामिल हों;
Keywords[hu]=Üdvözlés;Varázsló;Bevezetés;Közreműködés;Bekapcsolódás;
Keywords[ia]=Benvenite;Assistente;Integration;Contribue;Esser Implicate;
Keywords[id]=Selamat datang;Wisaya;Orientasi;Kontribusi;Terlibat;
Keywords[is]=Velkomin;hjálp;kynning;taka þátt;
Keywords[it]=Benvenuto;Procedura guidata;Primo approccio;Contribuisci;Partecipa;
Keywords[ja]=Welcome;Wizard;Onboarding;Contribute;Get involved;ようこそ;参加;初期設定;ウィザード;
Keywords[ka]=Welcome;Wizard;Onboarding;Contribute;Get involved;
Keywords[ko]=Welcome;Wizard;Onboarding;Contribute;Get involved;환영;마법사;첫 사용;기여;참여;
Keywords[lt]=Sveiki;vediklis;darbo pradžia;darbo pradzia;supažindinimas su sistema;supazindinimas su sistema;patarimai;talkinti;įsitraukti;isitraukti;pažintis;pazintis;centras;
Keywords[lv]=Uzņemšana;sveiciens;vednis;piedalīties;iesaistīties;
Keywords[nb]=velkommen;veiviser;onboarding;introduksjonsprogram;påmønstring;startpakke;introduksjon;innføring;bidra;hjelp til;
Keywords[nl]=Welkom;Assistent;Aan board komen;Bijdragen;Doe mee;
Keywords[nn]=velkommen;vegvisar;onboarding;introduksjonsprogram;påmønstring;startpakke;introduksjon;innføring;bidra;hjelp til;
Keywords[pa]=ਜੀ ਆਇਆਂ ਨੂੰ;ਸਵਾਗਤ;ਸਹਾਇਕ;ਆਨ-ਬੋਰਡ;ਯੋਗਦਾਨ;ਹਿੱਸਾ ਲਈਏ;ਹਿੱਸਾ ਬਣੀਏ;
Keywords[pl]=Powitanie;Pomocnik;Przyjęcie;Współtworzenie;Współudział;
Keywords[pt]=Boas-Vindas;Assistente;Acolhimento;Contribuir;Envolver-se;
Keywords[pt_BR]=Bem-vindo;Plataforma;Iniciando;Contribuir;Envolvimento;Assistente;Boas-vindas;
Keywords[ro]=bun venit;asistent;inițiere;contribuie;implică;
Keywords[ru]=Welcome;Wizard;Onboarding;Contribute;Get involved;Приветствие;Добро пожаловать;Мастер;Первый запуск;Участие;Присоединиться;
Keywords[sa]=स्वागतम्‌;विजार्डः;समागमनः;योगदानं ददति;प्रवृत्ताः भवन्तु;
Keywords[sk]=Vitajte;Sprievodca;Úvodné informácie;Prispieť;Zapojiť sa;
Keywords[sl]=Dobrodošlica;Čarovnik;Na krovu;Prispevajte;Bodite vpleteni;
Keywords[ta]=Welcome;Wizard;Onboarding;Contribute;Get involved;வரவேற்பு;உதவிநிரல்;நல்வரவு;பங்கேற்வு;பங்கேற்பது;பங்களிப்பது;பங்களி;வணக்கம்;நன்கொடை;இனாம்;
Keywords[tr]=hoş geldin;sihirbaz;ilk kullanım;katkıda bulun;welcome;
Keywords[uk]=Welcome;Wizard;Onboarding;Contribute;Get involved;вітання;майстер;вступ;початок;внесок;участь;
Keywords[zh_CN]=Welcome;Wizard;Onboarding;Contribute;Get involved;欢迎;向导;入门;初次使用;初学者;贡献;参与;huanying;xiangdao;rumen;chucishiyong;chuxuezhe;gongxian;canyu;
Keywords[zh_TW]=Welcome;Wizard;Onboarding;Contribute;Get involved;貢獻;參與;歡迎;
Name=Welcome Center
Name[ar]=مركز الترحيب
Name[ast]=Centru d'acoyida
Name[az]=Salamlama mərkəzi
Name[be]=Азнаямляльны цэнтр
Name[bg]=Център за приветстване
Name[ca]=Centre de benvinguda
Name[ca@valencia]=Centre de benvinguda
Name[cs]=Uvítací centrum
Name[da]=Velkomstcenter
Name[de]=Begrüßungsassistent
Name[en_GB]=Welcome Centre
Name[eo]=Welcome Center
Name[es]=Centro de bienvenida
Name[eu]=Ongietorri gunea
Name[fi]=Tervetulokeskus
Name[fr]=Centre d'accueil
Name[gl]=Centro de benvida
Name[he]=מרכז קבלת הפנים
Name[hi]=स्वागत केंद्र
Name[hu]=Üdvözlőközpont
Name[ia]=Centro de Benvenite
Name[id]=Welcome Center
Name[is]=Kynningarmiðstöð
Name[it]=Centro di benvenuto
Name[ja]=ようこそセンター
Name[ka]=მისალმების ცენტრი
Name[ko]=환영 센터
Name[lt]=Supažindinimas su sistema
Name[lv]=Uzņemšanas centrs
Name[nb]=Velkomstsenter
Name[nl]=Welkomstcentrum
Name[nn]=Velkomst­senter
Name[pa]=ਜੀ ਆਇਆਂ ਨੂੰ ਕੇਂਦਰ
Name[pl]=Powitalnia
Name[pt]=Centro de Boas-Vindas
Name[pt_BR]=Centro de boas-vindas
Name[ro]=Centru de întâmpinare
Name[ru]=Помощник первого запуска
Name[sa]=स्वागत केन्द्रम्
Name[sk]=Uvítacie centrum
Name[sl]=Središče za dobrodošlico
Name[ta]=வரவேற்பு மையம்
Name[tr]=Karşılama Merkezi
Name[uk]=Вітальний центр
Name[zh_CN]=欢迎中心
Name[zh_TW]=歡迎中心
SingleMainWindow=true
Type=Application
OnlyShowIn=KDE;
