[Desktop Entry]
Categories=Qt;KDE;Utility;
Comment=Friendly onboarding wizard for Plasma
Exec=welcome
Icon=start-here-kde-plasma
Keywords=Welcome;Wizard;Onboarding;Contribute;Get involved;
Name=Welcome Center
SingleMainWindow=true
Type=Application
