# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2021 Felipe Kinoshita <kinofhek@gmail.com>
# SPDX-FileCopyrightText: 2022 Nate Graham <nate@kde.org>
[Desktop Entry]
Categories=Qt;KDE;Utility;
Comment=Friendly onboarding wizard for Plasma
Comment[ar]=معالج ترحيب لسطح مكتب بلازما
Comment[ca]=Assistent d'incorporació amistosa per al Plasma
Comment[ca@valencia]=Assistent d'incorporació amistosa per a Plasma
Comment[es]=Asistente de incorporación amigable para Plasma
Comment[eu]=Plasmaren harrera-morroi lagunkoia
Comment[fr]=Assistant intégré sympathique pour Plasma
Comment[it]=Procedura guidata amichevole per il primo approccio a Plasma
Comment[ka]=Plasma-სთან დამეგობრების ოსტატი
Comment[ko]=친근한 Plasma 환영 마법사
Comment[nl]=Vriendelijke assistent voor Plasma aan boord
Comment[pt]=Assistente de acolhimento amigável para o Plasma
Comment[ru]=Дружелюбный мастер приветствия при первом запуске Plasma
Comment[sl]=Čarovnik dobrodošlice na krovu Plasme
Comment[tr]=Plasma için arkadaş canlısı bir ilk kullanım sihirbazı
Comment[uk]=Дружній майстер початкового налаштовування для Плазми
Comment[x-test]=xxFriendly onboarding wizard for Plasmaxx
Exec=plasma-welcome
Icon=start-here-kde-plasma
Keywords=Welcome;Wizard;Onboarding;Contribute;Get involved;
Keywords[ar]=معالج;مرحبا;ساهم;شارك;
Keywords[ca]=Benvinguda;Assistent;Incorporació;Col·laboració;Involucrar-se;
Keywords[ca@valencia]=Benvinguda;Assistent;Incorporació;Col·laboració;Involucrar-se;
Keywords[es]=Bienvenida;Asistente;Incorporación;Colaborar;Implicarse;
Keywords[eu]=ongietorri;morroi;harrera-egitea;laguntza eman;engaiatu;
Keywords[fr]=Welcome ; Assistant ; Intégré ; Contribuer ; S'investir ; 
Keywords[it]=Benvenuto;Procedura guidata;Primo approccio;Contribuisci;Partecipa;
Keywords[ka]=Welcome;Wizard;Onboarding;Contribute;Get involved;
Keywords[ko]=Welcome;Wizard;Onboarding;Contribute;Get involved;환영;마법사;첫 사용;기여;참여;
Keywords[nl]=Welkom;Assistent;Bijdragen;Doe mee;
Keywords[pt]=Boas-Vindas;Assistente;Acolhimento;Contribuir;Envolver-se;
Keywords[ru]=Welcome;Wizard;Onboarding;Contribute;Get involved;Приветствие;Участие;Первый запуск
Keywords[sl]=Dobrodošlica;čarovnik;na krovu;prispevajte;sodelovanje;
Keywords[tr]=hoş geldin;sihirbaz;ilk kullanım;katkıda bulun;
Keywords[uk]=Welcome;Wizard;Onboarding;Contribute;Get involved;вітання;майстер;вступ;початок;внесок;участь;
Keywords[x-test]=xxWelcomexx;xxWizardxx;xxOnboardingxx;xxContributexx;xxGet involvedxx;
Name=Welcome Center
Name[ar]=مركز الترحيب
Name[ca]=Centre de benvinguda
Name[ca@valencia]=Centre de benvinguda
Name[es]=Centro de bienvenida
Name[eu]=Ongietorri Gunea
Name[fr]=Welcome Center
Name[it]=Centro di benvenuto
Name[ka]=მისალმების ცენტრი
Name[ko]=환영 센터
Name[nl]=Welkomcentrum
Name[pt]=Centro de Boas-Vindas
Name[ru]=Приложение приветствия при первом запуске
Name[sk]=Uvítacie centrum
Name[sl]=Središče za dobrodošlico
Name[tr]=Karşılama Merkezi
Name[uk]=Вітальний центр
Name[x-test]=xxWelcome Centerxx
SingleMainWindow=true
Type=Application
