# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2021 Felipe Kinoshita <kinofhek@gmail.com>
# SPDX-FileCopyrightText: 2022 Nate Graham <nate@kde.org>
[Desktop Entry]
Categories=Qt;KDE;Utility;
Comment=Friendly onboarding wizard for Plasma
Comment[ar]=معالج ترحيب لسطح مكتب بلازما
Comment[ca]=Assistent d'incorporació amistosa per al Plasma
Comment[ca@valencia]=Assistent d'incorporació amistosa per a Plasma
Comment[de]=Der freundliche Begrüßungsassistent für Plasma
Comment[en_GB]=Friendly on-boarding wizard for Plasma
Comment[es]=Asistente de incorporación amigable para Plasma
Comment[eu]=Plasmaren harrera-morroi lagunkoia
Comment[fi]=Ystävällinen tervetulo-opastus Plasmaan
Comment[fr]=Assistant intégré sympathique pour Plasma
Comment[gl]=Asistente de incorporación fácil de usar para Plasma.
Comment[ia]=Amicabile assistente de integration per Plasma
Comment[id]=Wisaya orientasi ramah untuk Plasma
Comment[it]=Procedura guidata amichevole per il primo approccio a Plasma
Comment[ja]=フレンドリーな Plasma 初期設定ウィザード
Comment[ka]=Plasma-სთან დამეგობრების ოსტატი
Comment[ko]=친근한 Plasma 환영 마법사
Comment[nl]=Vriendelijke assistent voor Plasma aan boord
Comment[nn]=Hjelpsam rettleiar for nye Plasma-brukarar
Comment[pl]=Przyjazne przyjęcie na pokładzie Plazmy
Comment[pt]=Assistente de acolhimento amigável para o Plasma
Comment[pt_BR]=Um assistente de integração amigável para o Plasma
Comment[ru]=Дружелюбный мастер приветствия при первом запуске Plasma
Comment[sl]=Čarovnik dobrodošlice na krovu Plasme
Comment[tr]=Plasma için arkadaş canlısı bir ilk kullanım sihirbazı
Comment[uk]=Дружній майстер початкового налаштовування для Плазми
Comment[x-test]=xxFriendly onboarding wizard for Plasmaxx
Comment[zh_CN]=Plasma 的初次使用向导程序
Comment[zh_TW]=Plasma 用的友善介紹精靈
Exec=plasma-welcome
Icon=start-here-kde-plasma
Keywords=Welcome;Wizard;Onboarding;Contribute;Get involved;
Keywords[ar]=معالج;مرحبا;ساهم;شارك;
Keywords[ca]=Benvinguda;Assistent;Incorporació;Col·laboració;Involucrar-se;
Keywords[ca@valencia]=Benvinguda;Assistent;Incorporació;Col·laboració;Involucrar-se;
Keywords[de]=Willkommen;Begrüßungsassistent;Mitmachen;
Keywords[en_GB]=Welcome;Wizard;Onboarding;Contribute;Get involved;
Keywords[es]=Bienvenida;Asistente;Incorporación;Colaborar;Implicarse;
Keywords[eu]=ongietorri;morroi;harrera-egitea;laguntza eman;engaiatu;
Keywords[fi]=Tervetuloa;opastettu toiminta;opas;velho;aloitus;avusta;avustus;osallistu;osallistuminen;
Keywords[fr]=Bienvenu;Assistant;Intégré;Contribuer;S'investir;
Keywords[gl]=benvida;asistente;incorporación;contribuír;colaborar;involucrarse;
Keywords[ia]=Welcome;Wizard;Onboarding;Contribute;Get involved; Benvenite;Assistente;Integration;Contribue;Esser implicate;
Keywords[id]=Selamat datang;Wisaya;Orientasi;Kontribusi;Terlibat
Keywords[it]=Benvenuto;Procedura guidata;Primo approccio;Contribuisci;Partecipa;
Keywords[ja]=Welcome;Wizard;Onboarding;Contribute;Get involved;ようこそ;参加;初期設定;ウィザード;
Keywords[ka]=Welcome;Wizard;Onboarding;Contribute;Get involved;
Keywords[ko]=Welcome;Wizard;Onboarding;Contribute;Get involved;환영;마법사;첫 사용;기여;참여;
Keywords[nl]=Welkom;Assistent;Bijdragen;Doe mee;
Keywords[nn]=velkommen;vegvisar;onboarding;introduksjonsprogram;påmønstring;startpakke;introduksjon;innføring;bidra;hjelp til;
Keywords[pl]=Powitanie;Pomocnik;Przyjęcie;Współtworzenie;Współudział;
Keywords[pt]=Boas-Vindas;Assistente;Acolhimento;Contribuir;Envolver-se;
Keywords[pt_BR]=Bem-vindo;Plataforma;Iniciando;Contribuir;Envolvimento;Assistente;Boas vindas;
Keywords[ru]=Welcome;Wizard;Onboarding;Contribute;Get involved;Приветствие;Добро пожаловать;Мастер;Первый запуск;Участие;Присоединиться;
Keywords[sl]=Dobrodošlica;čarovnik;na krovu;prispevajte;sodelovanje;
Keywords[tr]=hoş geldin;sihirbaz;ilk kullanım;katkıda bulun;
Keywords[uk]=Welcome;Wizard;Onboarding;Contribute;Get involved;вітання;майстер;вступ;початок;внесок;участь;
Keywords[x-test]=xxWelcomexx;xxWizardxx;xxOnboardingxx;xxContributexx;xxGet involvedxx;
Keywords[zh_CN]=Welcome;Wizard;Onboarding;Contribute;Get involved;欢迎;向导;入门;初次使用;贡献;参与;
Keywords[zh_TW]=Welcome;Wizard;Onboarding;Contribute;Get involved;貢獻;參與;歡迎;
Name=Welcome Center
Name[ar]=مركز الترحيب
Name[ca]=Centre de benvinguda
Name[ca@valencia]=Centre de benvinguda
Name[cs]=Uvítací centrum
Name[de]=Begrüßungsassistent
Name[en_GB]=Welcome Centre
Name[es]=Centro de bienvenida
Name[eu]=Ongietorri Gunea
Name[fi]=Tervetulokeskus
Name[fr]=Centre de bienvenue
Name[gl]=Centro de benvida
Name[ia]=Centro de Benvenite
Name[id]=Welcome Center
Name[it]=Centro di benvenuto
Name[ja]=ようこそセンター
Name[ka]=მისალმების ცენტრი
Name[ko]=환영 센터
Name[nl]=Welkomcentrum
Name[nn]=Velkomst­senter
Name[pl]=Powitalnia
Name[pt]=Centro de Boas-Vindas
Name[pt_BR]=Centro de boas vindas
Name[ru]=Помощник первого запуска
Name[sk]=Uvítacie centrum
Name[sl]=Središče za dobrodošlico
Name[tr]=Karşılama Merkezi
Name[uk]=Вітальний центр
Name[x-test]=xxWelcome Centerxx
Name[zh_CN]=欢迎中心
Name[zh_TW]=歡迎中心
SingleMainWindow=true
Type=Application
OnlyShowIn=KDE;
X-KDE-autostart-condition=plasma-welcomerc:General:ShouldShow:true
